doctype html
html(lang='en')
  head
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-115360808-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-115360808-3');
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.css')
    link(rel='apple-touch-icon', sizes='180x180', href='/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/kanyefav32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/kanyefav16.png')
    link(rel='manifest', href='/favicons/site.webmanifest')
    link(rel='mask-icon', href='/favicons/safari-pinned-tab.svg', color='#14233c')
    meta(name='msapplication-TileColor', content='#14233c')
    meta(name='theme-color', content='#14233c')
    block head
      title Phone Me Kanye West
      meta(name='description', content='Rented billboards worldwide. Need to get on the phone with Kanye ASAP. Got Ideas!')
      link(rel='canonical', href='https://www.phonemekanyewest.com')
      meta(property='og:description', content='Rented billboards worldwide. Need to get on the phone with Kanye ASAP. Got Ideas!')
      meta(property='og:image', content='https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn1.jpg')
      meta(property='og:image:height', content='543')
      meta(property='og:image:width', content='1000')
      meta(property='og:site_name', content='Phone Me Kanye West')
      meta(property='og:title', content='Phone Me Kanye West')
      meta(property='og:type', content='website')
      meta(property='og:url', content='https://phonemekanyewest.com')
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:description', content='Rented billboards in Times Square, London and Wyoming.  Need to get on the phone with Kanye ASAP. Got Ideas!')
      meta(name='twitter:image', content='https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn5.png')
      meta(name='twitter:site', content='@harrydry')
      meta(name='twitter:title', content='Phone Me Kanye West')
    body
      block content
  block scripts
    script(src="/dist/bundle.js")
