extends main

include mixins/jut
include mixins/press
include mixins/front

block content
  audio.audio(preload="auto")
    source(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/DrewAndMikeShow.mp3" type="audio/mp3")
  a.hd(href="https://twitter.com/harrydry" target="_blank")
    img.hd__img(src="https://s3.eu-west-2.amazonaws.com/lifeishappening/harrydry.png")
    .hd__text by harrydry
  +front()
  .container
    .line
    .opening
      h2.opening__center Kanye starts tweeting
        //- a(href="https://yeezy.dating" target="_blank")   Yeezy.Dating
    blockquote.twitter-tweet(data-lang='en')
      p(lang='en', dir='ltr')
        | Yeezy is based in Calabasas but will also be setting up offices in New York London and Wyoming
      | — KANYE WEST (@kanyewest)
      a(href='https://twitter.com/kanyewest/status/987422322301722624?ref_src=twsrc%5Etfw') April 20, 2018
    script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
    +jut("01", "Hmm")
    blockquote.twitter-tweet(data-lang='en')
      p(lang='en', dir='ltr')
        | We have 160 positions to fill by the end of the year. Yeezy will hit a billion dollars this year. It is the 2nd fastest growing company in history. It is a unicorn on its way to becoming a decacorn.
      | — KANYE WEST (@kanyewest)
      a(href='https://twitter.com/kanyewest/status/989150253185052674?ref_src=twsrc%5Etfw') April 25, 2018
    script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
    +jut("02", "Idea")
    .text
      h2.text__lightbulb 💡
      h2.text__center 3 Billboards.
        br
        |  Phone Me Kanye West.
        br
        |  London. New York. Wyoming.
      h2 💡
    +jut("06", "New York")
    img.bamn1(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn1.jpg")
    +jut("07", "Wyoming")
    img.bamn2(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn3.jpg")
    +jut("08", "London")
    img.bamn3(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn2.jpg")
    //- +jut("09", "Press")
    //- +press()
    +jut("09", "Interview")
    .interview
      .interview__icon!=icon('playButton')
      .interview__text
    +jut("10", "End")
    video.video1(src=`https://media.giphy.com/media/l0MYuLUvo8GNRrhss/giphy.mp4` playsinline loop muted autoplay)
    .ender


