extends main

include mixins/jut
include mixins/press
include mixins/front
include mixins/routineOpening
include mixins/mobileOpening

block content
  audio.audio(preload="auto")
    source(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/DrewAndMikeShow.mp3" type="audio/mp3")
  a.hd(href="https://twitter.com/harrydry" target="_blank")
    img.hd__img(src="https://s3.eu-west-2.amazonaws.com/lifeishappening/harrydry.png")
    .hd__text by harrydry
  +front()
  .container
    .line
    +mobileOpening()
    //- +routineOpening()
    +jut("02", "Idea")
    .text
      h2.text__lightbulb 💡
      h2.text__center 3 Billboards.
        br
        |  Phone Me Kanye West.
        br
        |  New York. London. Wyoming.
      h2 💡
    +jut("03", "New York")
    img.bamn2(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn1.jpg")
    +jut("04", "London")
    img.bamn1(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn2.jpg")
    +jut("05", "Wyoming")
    img.bamn3(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn3.jpg")
    +jut("06", "Press")
    +press()
    +jut("07", "Radio")
    .interview
      .interview__icon!=icon('playButton')
      .interview__text
    +jut("08", "Close")
    img.bamn4(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/closer.png")
    +jut("08", "End")
    video.video1(src=`https://media.giphy.com/media/l0MYuLUvo8GNRrhss/giphy.mp4` playsinline loop muted autoplay)
    .ender1
    a.byhd(href="https://twitter.com/harrydry" target="_blank") by Harry Dry
    .ender2


