extends main

include mixins/jut
include mixins/press
include mixins/front
include mixins/routineOpening
include mixins/mobileOpening

block content
  audio.audio(preload="auto")
    source(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/DrewAndMikeShow.mp3" type="audio/mp3")
  a.hd(href="https://twitter.com/harrydry" target="_blank")
    img.hd__img(src="https://s3.eu-west-2.amazonaws.com/lifeishappening/harrydry.png")
    .hd__text by harrydry
  +front()
  .container
    .line
    +mobileOpening()
    +routineOpening()
    +jut("02", "Idea")
    .text
      h2.text__lightbulb 💡
      h2.text__center 3 Billboards.
        br
        |  Phone Me Kanye West.
        br
        |  New York. London. Wyoming.
      h2 💡
    +jut("03", "New York")
    img.bamn2(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn1.jpg")
    +jut("04", "London")
    img.bamn1(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn2.jpg")
    +jut("05", "Wyoming")
    img.bamn3(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/bamn3.jpg")
    +jut("06", "Press")
    +press()
    +jut("07", "Radio")
    .interview
      .interview__icon!=icon('playButton')
      .interview__text
    +jut("08", "First Contact")
    img.bamn4(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/closer.png")
    +jut("09", "The Story Continues")
    video.video1(src=`https://media.giphy.com/media/l0MYuLUvo8GNRrhss/giphy.mp4` playsinline loop muted autoplay)
    .ender1
    .ender1a
    //- a.share(href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fphonemekanyewest.com&text=Yo%20@kanyewest%20phone%20@harrydry.%20He%27s%20got%20ideas%21&hashtags=PhoneMeKanyeWest%2C%20Kanye" targe="_blank") SHARE
    .mailchimp
      .mailchimp__header Stay down with the mission
      form(action='https://phonemekanyewest.us19.list-manage.com/subscribe/post', method='POST' class="mailchimp__box")
        input(type='hidden', name='u', value='3b9e36df8128ff61a2eb6b004')
        input(type='hidden', name='id', value='ce0fecc847')
        input.mailchimp__box-input(placeholder="example@example.com" name="MERGE0" type="email")
        button.mailchimp__box-button SUBSCRIBE
    a.byhd(href="https://twitter.com/harrydry" target="_blank") @harrydry
    .ender2


