html,body
  font-family: "Circular"
  font-size: 10px
  font-weight: 400
  background: $bg
  height: 100%
  min-height: 100%
  @media (max-width: 730px)
    font-size: 10px


.container
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  min-height: 100%
  transition: all 1.2s

.twitter-tweet-rendered
  transform: scale(1) !important
  width: 38rem !important
  margin: 0 !important
  @media (max-width: 730px)
    width: 32rem !important
  @media (max-width: 350px)
    width: 30rem !important

.line
  background: $line
  width: 6px
  height: 100%
  position: absolute
  left: 50%
  transform: translateX(-3px)

// video
video
  z-index: 2
  width: 38rem
  height: auto
  border: 0.6rem solid $line
  background: $bg
  @media (max-width: 730px)
    width: 32rem
  @media (max-width: 350px)
    width: 30rem !important

.video1
  width: 55rem
  @media (max-width: 730px)
    width: 35rem
  @media (max-width: 350px)
    width: 30rem !important

img
  width: 69.3rem
  border-radius: 4px
  z-index: 2
  border: 0.6rem solid $line
  @media (max-width: 700px)
    width: 94%
  @media (max-width: 350px)
    border: 0.4rem solid $line

// interview
.interview
  display: flex
  justify-content: center
  align-items: center
  z-index: 2
  background: $bg
  padding: 2rem 0
  position: relative
  &__icon
    margin: 0 auto
    cursor: pointer
  &__text
    color: white
    letter-spacing: 0.1rem
    font-size: 16px
    position: absolute
    right: 33%
    font-weight: 500
    right: -50px
    font-weight: 500
    transform: translateY(-3px)

.playButton
  & > *
    transition: all 0.2s
    fill: white !important
    &:hover
      fill: $red !important
      transition: all 0.2s

// hd

.hd
  display: none
  align-items: center
  position: fixed
  right: 0
  bottom: 0
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  padding: 7px 12px 7px 12px
  border-top: 1px solid #efefef
  border-left: 1px solid #efefef
  cursor: pointer
  z-index: 1007
  background-color: white
  @media (max-width: 750px)
    display: none
  &__img
    border-radius: 100px
    width: 21px
    height: 21px
    margin-right: 8px
    border: none !important
  &__text
    font-size: 1.4rem
    color: #333

.ender1
  height: 11rem

.byhd
  background: $bg
  z-index: 2
  color: white
  font-size: 2rem
  border: 0.6rem solid $line
  padding: 2rem
  font-weight: 600
  transition: all 0.2s
  @media (max-width: 900px)
    font-size: 1.6rem
  &:hover
    color: $red
    transition: all 0.2s

.ender2
  height: 11rem
  width: 100%
  background: $bg
  z-index: 2