.press
  background: $bg
  padding: 5rem 0
  z-index: 2
  align-items: center
  transition: all 0.2s
  display: flex
  flex-direction: column
  &__tier
    width: 80rem
    display: flex
    justify-content: space-around
    align-items: center
    &:nth-child(2)
      margin-top: 4rem
  img
    cursor: pointer
    opacity: 0.6
    transition: all 0.2s
    &:hover
      opacity: 1

.fox
  width: 12rem

.mtv
  width: 12rem