.routineOpening
  display: flex
  align-items: center
  flex-direction: column
  @media (max-width: 1000px)
    display: none
  &__zontal
    width: 60rem
    padding: 7rem 0
    border: 6px solid $line
    position: relative
    background: $bg
    z-index: 2
    height: 37.6rem
    @media (max-width: 1100px)
      width: 54rem
    &-one
      position: absolute
      left: -190px
    &-two
      position: absolute
      right: -190px
  &__start
    height: 11rem
    background: $bg
    // z-index: 3
    // width: 100%
  &__end
    height: 11rem
