.mobileOpening
  display: none
  flex-direction: column
  align-items: center
  @media (max-width: 1000px)
    display: flex
  &__start
    height: 11rem
    background: $bg
  &__end
    height: 11rem
  &__middle
    height: 5rem

.opening
  display: flex
  align-items: center
  background: $bg
  padding: 6rem 0 2rem 0
  z-index: 2
  margin-bottom: 6rem

.text
  display: flex
  align-items: center
  background: $bg
  padding: 2.6rem 0
  z-index: 2
  @media (max-width: 730px)
    font-size: 1.6rem
  h2
    font-weight: 600
    text-align: center
    color: $w
    font-size: 2.4rem
    line-height: 1.8
    @media (max-width: 730px)
      font-size: 2rem
    @media (max-width: 372px)
      font-size: 1.9rem
    @media (max-width: 350px)
      font-size: 1.8rem !important
  &__center
    margin: 0 2rem
    @media (max-width: 730px)
      margin: 0 0.6rem

.twitterMob
  background: $bg
  padding-top: 1.2rem
  z-index: 1
  display: none
  @media (max-width: 1000px)
    display: block
