mixin front()
  .frontOuter
    .front
      .front__img
      .front__container
        .front__container-text IF FURY CAN
          //- br.front__br
          //- |   FURY CAN
        .front__container-text YOU CAN
