mixin front()
  .frontOuter
    .front
      .front__img
      .front__container
        .front__container-text PHONE ME
          br.front__br
          |   KANYE WEST
        .front__container-text +44 78570
          br.front__br
          |   43724
      .front__label Times Square — New York
