mixin mobileOpening(num, name)
  .mobileOpening
    .mobileOpening__start
    .text
      h2.text__center Kanye starts tweeting
        br
        |  I'm feeling inspired
        br
        | This is what happens next...
    .mobileOpening__end
    blockquote.twitter-tweet(data-lang='en')
      p(lang='en', dir='ltr')
        | We have 160 positions to fill by the end of the year. Yeezy will hit a billion dollars this year. It is the 2nd fastest growing company in history. It is a unicorn on its way to becoming a decacorn.
      | — KANYE WEST (@kanyewest)
      a(href='https://twitter.com/kanyewest/status/989150253185052674?ref_src=twsrc%5Etfw') April 25, 2018
    script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')