mixin press()
  .press
    .press__tier
      a(href="https://noisey.vice.com/en_uk/article/9k8dm7/i-signed-up-for-the-kanye-dating-site-and-swiped-right-into-weird-mystery" target="_blank")
        img.vice(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/press/vice.png")
      a(href="https://www.highsnobiety.com/p/kanye-west-billboard-hire/" target="_blank")
        img.highs(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/press/highs.png")
      a.xxlMob(href="https://hypebeast.com/2018/5/college-graduate-7000-dollars-usd-kanye-west" target="_blank")
        img.hypebeast(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/press/hypebeast.png")
      a.slate-none(href="http://www.xxlmag.com/news/2018/05/british-graduate-billboards-hired-kanye-west/" target="_blank")
        img.xxl(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/press/xxl.png")
    .press__tier.press__tier1
      a(href="https://www.thesun.co.uk/news/6184471/british-graduate-hopes-kanye-west-job-billboard/" target="_blank")
        img.sun(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/press/sun.png")
      a(href="http://www.dailymail.co.uk/news/article-5678743/British-graduate-22-spends-5-000-billboards-asking-Kanye-West-hire-him.html" target="_blank")
        img.mail(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/press/mail.png")
      .interview.xxlMob
        img.drewandmike(src="https://s3.eu-west-2.amazonaws.com/yeezydating/bamn/press/drewandmike.png")
        .interview__icon!=icon('mic1')
        .interview__text