mixin press()
  .press
    .press__tier
      a(href="www.google.com" target="_blank")
        img.fox(src="https://s3.eu-west-2.amazonaws.com/yeezydating/press/FoxYD.png")
      a(href="www.google.com" target="_blank")
        img.mtv(src="https://s3.eu-west-2.amazonaws.com/yeezydating/press/mtvYD.png")
      a(href="www.google.com" target="_blank")
        img.fox(src="https://s3.eu-west-2.amazonaws.com/yeezydating/press/FoxYD.png")
      a(href="www.google.com" target="_blank")
        img.mtv(src="https://s3.eu-west-2.amazonaws.com/yeezydating/press/mtvYD.png")
    .press__tier
      a(href="www.google.com" target="_blank")
        img.fox(src="https://s3.eu-west-2.amazonaws.com/yeezydating/press/FoxYD.png")
      a(href="www.google.com" target="_blank")
        img.mtv(src="https://s3.eu-west-2.amazonaws.com/yeezydating/press/mtvYD.png")
      a(href="www.google.com" target="_blank")
        img.fox(src="https://s3.eu-west-2.amazonaws.com/yeezydating/press/FoxYD.png")