mixin press()
  .press
    .press__text Tyson, a few judges need their eyes testing but that doesn't matter. We all saw what happened. You gave Wilder a boxing lesson for 10/12 rounds. You've got a bigger purpose than boxing anyways. If you can do it so can we. Respect to Ben for shutting up his critics 🤜